.css-1oqqzyl-MuiContainer-root {
  background: url(../Hero/images/test2.jpg) 50% / cover no-repeat !important;
  margin-top: 36px;
  max-width: 100% !important;
  color: #fff !important;
  display: flex !important;
  gap: 20px !important;
  flex-wrap: wrap !important;
}
.css-oyk6x7-MuiPaper-root-MuiCard-root {
  color: #fff !important;
}
/* menu  */
.css-1oqqzyl-MuiContainer-root {
  padding: 100px !important;
}
